.galleryItems
  display: flex
  justify-content: center
  align-items: center
  border:1px solid red
  margin: 100px 0 150px 0

.slick-prev
  left: -80px
  height: 80px

.slick-next
  right: 61px
  height: 80px

.slick-slider
  border:1px solid yellow
  width: 1080px

.slick-list
  border:1px solid black

.slick-prev:before, .slick-next:before
  border:1px solid purple
  color:green
  font-size: 80px
  line-height: 1
