.galleryItems
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  margin: 100px 0 150px 0

  .galleryTitle
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: flex-start
    font-size: 16px
    color: #585858

    h3
      padding-left: 100px

.slick-slider
  position:center
  width: 1080px

.slick-prev
  left: -85px
  height: 80px

.slick-next
  height: 80px


.slick-list

.slick-prev:before, .slick-next:before
  color: #710d0d;
  font-size: 80px
  line-height: 1
