.Categories
  margin-left:20px
  padding: 0
  font-family: 'SFUlight'
  font-size: bold

  &-name
    font-size: 15px
    color: #000000;
    position: relative
    overflow: hidden

  &-subcategories
    position:absolute
    padding:0
    
    &-item
      list-style:none
      padding:0
      margin:0
      font-size: 13px
      font-family: 'SFlight'
      font-weight: bold
      color: grey
      cursor:pointer

    &-item:hover
      color: #F8CB00  

.minigallery   
  height: 215px
  width: 266px
  margin-top:25px
  background-image : url('../img/descuento.jpg')
  background-color: lightgrey
  background-position: center center
  background-repeat: no-repeat
  background-size: cover